<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mintory</property>
    <property name="hibernate.connection.username">root</property>
    <!--<property name="cache.provider_class">
            org.hibernate.cache.EhCacheProvider
    </property>
    <property name="cache.use_second_level_cache">true</property>-->
    <!-- Mapping Table To Database -->
    <mapping class="mintory.model.Barang"/>
    <mapping class="mintory.model.Pengemudi"/>
    <mapping class="mintory.model.Supplier"/>
<!--    <mapping class="mintory.model.setoran"/>
    <mapping class="mintory.model.setoranDetail"/>
    <mapping class="mintory.model.setoranPutih"/>
    <mapping class="mintory.model.setoranDetailPutih"/>-->
    <mapping class="mintory.model.sistem"/>
    <mapping class="mintory.model.codeGenerator"/>
    <mapping class="mintory.model.closingBulanan"/>
    <mapping class="mintory.model.closingTahunan"/>
    <mapping class="mintory.model.komposisiSetoran"/>
    <mapping class="mintory.model.SecurityUser"/>
    <mapping class="mintory.model.closingBulananPutih"/>
    <mapping class="mintory.model.closingTahunanPutih"/>
  </session-factory>
</hibernate-configuration>
